@use "styles/colors" as colors;
@use "styles/fonts" as fonts;

* {
  font-family: fonts.$primary-font;
  color: colors.$app-font-color;
}

body {
  background-color: colors.$app-background-color;
  font-family: 'Lora', 'Times New Roman', Times, serif;
}

input {
  line-height: 2rem;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  font-size: calc(10px + 2vmin);

  color: white;

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

nav {
  margin-top: 2rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    list-style: none;

    li {

      height: 50px;
      transition: background-position-x 0.9s linear;
      text-align: center;

      a {
        font-size: 22px;
        color: #777;
        text-decoration: none;
        transition: all 0.45s;
      }


      &:hover {
        background: url("./svg/menuUnderLine.svg");
        animation: line 1s;
      }

      &:hover a {
        color: #09c06b;
      }

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    @keyframes line {
      0% {
        background-position-x: 390px;
      }
    }

  }
}

.app-btn {
  a {
    font-size: calc(5px + 1vmin);
    box-shadow: inset 0px 1px 0px 0px #a6827e;
    background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    background-color: #7d5d3b;
    border-radius: 3px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
    margin: .5rem;

    &:hover {
      background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
      background-color: #634b30;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }
}

form.app-signin-form,
form.app-signup-form {
  div {
    display: flex;
    flex-direction: column;
  }
}

input[type="submit"].app-btn {

  font-size: calc(5px + 1vmin);
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 3px;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
  margin: .5rem;

  &:hover {
    background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
    background-color: #634b30;
  }

  &:active {
    position: relative;
    top: 1px;

  }
}

.app-shortcuts {
  display: flex;

  a {
    font-size: 1rem;
    margin: 1rem;
    border-bottom: 1px solid #ffffff;
  }
}

.app-console {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);

  .app-console-side-menu {}

  .app-console-side-content {}
}

.app-counter {
  background-color: black;
}