@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./fonts/Lora-Regular.woff2') format('woff2'),
    url('./fonts/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./fonts/Lora-Italic.woff2') format('woff2'),
    url('./fonts/Lora-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./fonts/Lora-MediumItalic.woff2') format('woff2'),
    url('./fonts/Lora-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./fonts/Lora-Italic.woff2') format('woff2'),
    url('./fonts/Lora-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./fonts/Lora-Regular.woff2') format('woff2'),
    url('./fonts/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./fonts/Lora-Medium.woff2') format('woff2'),
    url('./fonts/Lora-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./fonts/Lora-BoldItalic.woff2') format('woff2'),
    url('./fonts/Lora-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./fonts/Lora-Bold.woff2') format('woff2'),
    url('./fonts/Lora-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./fonts/Lora-SemiBoldItalic.woff2') format('woff2'),
    url('./fonts/Lora-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: local('Lora'),
    url('./fonts/Lora-SemiBold.woff2') format('woff2'),
    url('./fonts/Lora-SemiBold.woff2') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
}